/** @format */

.newElement {
  flex: 4;
}

.newElementTitle {
  text-align: center;
  color: darkblue;
}

.newElementForm {
  display: flex;
  flex-wrap: wrap;
}

.newElementItem {
  width: 400px;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  margin-right: 20px;
}

.newElementItem > label {
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 600;
  color: rgb(151, 150, 150);
}

.newElementItem > input {
  height: 20px;
  padding: 10px;
  border: 1px solid gray;
  border-radius: 5px;
}

.newElementGender > input {
  margin-top: 15px;
}

.newElementGender > label {
  margin: 10px;
  font-size: 18px;
  color: #555;
}

.newElementSelect {
  height: 40px;
  border-radius: 5px;
}

.newElementButton {
  width: 200px;
  border: none;
  background-color: darkblue;
  color: white;
  padding: 7px 10px;
  font-weight: 600;
  border-radius: 10px;
  margin-top: 30px;
  align-items: center;
  cursor: pointer;
}
.ElementAddButton {
  width: 100px;
  border: none;
  padding: 5px;
  background-color: darkblue;
  border-radius: 5px;
  cursor: pointer;
  color: white;
  font-size: 16px;
}
