<!DOCTYPE html>
<html>
  <head>
{{>head}}
  </head>
{{>backgroud}}
        <section>
        <div class="container-fluid">
            <div class="profile-info">
                <div class="">
                    <div>
                        <h2 class="no-margins">NGUYỄN TẤN THANH GIANG</h2>
                        <h4>ID Student: 1805015</h4>
                        <small>Class: 6.1 </small>
                        <br>
                        <small>Phone: 0364002059 </small>
                        <br>
                        <small>Absent: Giang,Monday,block1,20/1/2021 </small>
                        <br>
                        <small>Comment: Giang,good </small>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3">
                    <div class="ibox float-e-margins">
                        <div class="ibox-content mailbox-content">
                            <div class="file-manager">
                                <a class="btn btn-block btn-primary compose-mail">Management</a>
                                <div class="space-25"></div>
                                <ul class="folder-list m-b-md" style="padding: 0">
                                    <li><a id="change_password"> <i class="fa fa-key"></i> Change password <i class="fa fa-arrow-right pull-right"></i></a></li>
                                    <!-- <li><a href="#"> <i class="fa fa-envelope-o"></i> Message<span class="label label-danger pull-right">2</span></a></a></li> -->
                                </ul>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
        </section>
        <!-- Page Footer-->
{{>footer}}
      </div>
    </div>
  </div>
  <!-- JavaScript files-->
{{>scripts}}
  <script>
    // ------------------------------------------------------- //
    //   Inject SVG Sprite - 
    //   see more here 
    //   https://css-tricks.com/ajaxing-svg-sprite/
    // ------------------------------------------------------ //
    function injectSvgSprite(path) {
    
        var ajax = new XMLHttpRequest();
        ajax.open("GET", path, true);
        ajax.send();
        ajax.onload = function(e) {
        var div = document.createElement("div");
        div.className = 'd-none';
        div.innerHTML = ajax.responseText;
        document.body.insertBefore(div, document.body.childNodes[0]);
        }
    }
    // this is set to BootstrapTemple website as you cannot 
    // inject local SVG sprite (using only 'icons/orion-svg-sprite.svg' path)
    // while using file:// protocol
    // pls don't forget to change to your domain :)
    injectSvgSprite('https://bootstraptemple.com/files/icons/orion-svg-sprite.svg'); 
    
    
  </script>
  <!-- FontAwesome CSS - loading as last, so it doesn't block rendering-->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
</body>
</html>